
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,500i,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
html {
    box-sizing: border-box;
    font-size: 16px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
}

/***   The Map *****/



 .img-fluid {
  max-width: 100%;
  display: block;
  height: auto;
}
 .nav-container {
     width: 100%;
     max-width: 95%;
     margin: 0 auto;
}
/************************************************************** The header / Nav section ******************************************************************/

.bikeimg{
    width: 50px;
}

section.masthead {
    background: url(img/biketwo.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

header {
    padding: 1em 0;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #f9f9f9; 
    z-index: 100;
}
#map {
    height: 100%;
    margin-right: 350px;
    top: 100px;
  }
 .logo {
     float: left;
     font-size: 1rem;
     margin: 0;
     text-transform: uppercase;
     font-weight: 700;
     display: inline-flex;
    align-items: center;
}
 .logo span {
    font-family: 'Big Shoulders Text', cursive;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
     font-size: 2.5rem;
     letter-spacing: 0.07em;
     color: #000000;
}
/*************************************** Test *************************************************************************************/

/*************************************** The Nav Search *************************************************************************************/
.site-nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 25px;
    border: none;
    color: #80808075;
}

.search {
    width: 25%;
    padding: 10px;
    height: 35px;
}
.searchbox {
    display: flex;
    justify-content:center;
}
.navsearch {
    cursor: pointer;
    background: none;
	color: inherit;
    border: none;
    font-size: 20px;
    position: relative;
    top: 5px;
   
}
select{
    width: 75%; 
    height: 35px;
    -webkit-border-radius: 0px;
    border: none;
    background-color: white;
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;

}

/************************************************************ The Nav Search End************************************************************************/
.Freepik{
    display: none;
}
 
 .menu-toggle {
     
    
     cursor: pointer;

}

/*** Header Text ***/

 .logo_text{
    background-color: #fcea00;
 }
 


.tagline_second{
    color: white; 
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
   
}
/*************************************************************** InfoSideBar***************************************/
.infoHolder{
    visibility: visible;
    display: block;
    position: fixed;
    right: 0;
    width: 350px;
    height: 100%;
    top: 90px;
    padding-inline-start: 25px;
    background-color: #fcea00;
    overflow-y: scroll;
    padding-left: 20px;
         padding-right: 20px;
         overflow-x: hidden;
}
 #navSideBarButton{
  display:none;
}
 
h4 {
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    text-transform: capitalize;
}
 hr {
    width: 100%;
    height: 2.5px;
    background-color: black;
    margin-bottom: 10px;
    border: none;
 }
p {
font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    line-height: .95rem;
}

.infoHolder img {
    width: 100%;
    height: 150px;
}
/** Locations**/
/***Media Query ***/ 
  .site-nav {
      height: auto;
      position: relative;
      background: transparent;
      clip-path: initial;
 }
 
/** This need be changes **/

.img-fluid {
  max-width: 100%;
  display: block;
  height: auto;
}


 .logo span {
    font-family: 'Big Shoulders Text', cursive;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
     font-size: 2.5rem;
     letter-spacing: 0.07em;
     color: #000000;
}

.Freepik{
    display: none;
}
 
/**** Image Header ****/
 section.masthead {
     background: url(img/biketwo.jpg) no-repeat center center;
     background-size: cover;

     padding-top: 7rem;
     padding-bottom: 7rem;
}

/*** Header Text ***/
 

 .logo_text{
    background-color: #fcea00;
 }
 
 .black-box-tagline{
     margin-top: 1rem;
     margin-left: auto;
     margin-right: auto;
     width: fit-content;
     font-size:  2.5rem;
     font-weight: 700;
     font-family: 'Roboto', sans-serif;
     text-shadow: 0 2px 7px rgba(0,0,0,.6);
     font-weight: 500;
     color: white;
     flex-wrap: wrap;
}
.tagline_second{
    color: white; 
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
   

} 
 
/***********************************************************Media Query ********************************************************************************************/

@media (max-width: 575.98px) { 
  
    .logo_text {
        display: none;
    }
    .bikeimg{
        width: 25px;
        display: none;
    }

    header .nav-container{
        padding-left: 0px;
    }
    .site-nav input[type=text]{
        font-size: 14px;
    }
    .search {
        width: 25%;
    }
      /************************ The Nav SideBar Stufff ********************************************************************/
    .menu-toggle{
        display: block;
    }
   
   
    #map {
       
        margin-right: 0px;

      }
     
      #navSideBarButton{
        display: block;
         font-size: 20px;
         cursor: pointer;
         background-color: #111;
         color: white;
         border: none;
     }
       
       .infoHolder{
         display: none;
       }
       
       .infoHolder-active{
        display: block;
        position: fixed;
        right: 0;
        width: 200px;
        height: 100%;
        top: 100px;
        padding-inline-start: 25px;
        background-color: #fcea00;
        overflow-y: scroll;
        z-index: 100;
         
         
       }
       p {
        font-size: .7rem;
        line-height: normal;
    }
    infoHolder img {
        width: 100%;
        height: 100px;
    }
    select{
        width: 70%; ;
    
    }
   
  
}

/**Small devices (landscape phones, less than 768px)**/
@media (max-width: 767.98px) { 
      
    .logo_text {
        display: none;
    }
    .bikeimg{
        width: 25px;
        display: none;

    }

    header .nav-container{
        padding-left: 0px;
    }
    .site-nav input[type=text]{
        font-size: 14px;
    }
    .search {
        width: 25%;
    }
    /***************************************** The Nav SideBar Stufff ***/
    .menu-toggle{
        display: flex;
        position: relative;
    }
  
    #map {
       
        margin-right: 0px;

      }
      #infoHolder{
        position: absolute;
    }
    #navSideBarButton{
        display: block;
        position: absolute;
        bottom: 6px;
         font-size: 20px;
         cursor: pointer;
         background-color: #111;
         color: white;
         border: none;
     }
       
       .infoHolder{
         display: none;
       }
       
       .infoHolder-active{
         display: block;
         position: fixed;
         right: 0;
         width: 200px;
         height: 100%;
         top: 100px;
         padding-inline-start: 25px;
         background-color: #fcea00;
         overflow-y: scroll;
         overflow-x: hidden;
         z-index: 100;
         
       }
       p {
        font-size: .7rem;
        line-height: normal;
       
    }
    select{
        width: 70%; ;
    
    }

   

 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {



 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width


 
  
