

.title {
    border: 2px solid black;
}

.description img {
    width: 100px;

}

#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  #map {
	display: table;
	width: 50vw;
	height: 50vh;
}